/******* Colours *******/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$primary-bg-color: #F6F6F6;
$secondary-bg-color: #EAEAEA;
$tertiary-bg-color: white;
$quaternary-bg-color: #353535;



/******* General *******/
* {
    font-family: 'Roboto';
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: $primary-bg-color;
}

header {
    background-color: $tertiary-bg-color;

    .logo {
        /*min-width: 200px;
        max-width: 200px;*/
        text-align: center;
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        margin: auto;
        padding: 14px 0px;
    }

    >section:first-child {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
    }
}

footer {
    background-color: $quaternary-bg-color;
    padding: 22px 25px;
    display: grid;
    gap: 16px;

    .logo {
        min-width: 138px;
        max-width: 138px;
        font-family: 'Shrikhand', serif;
        margin: 0px;
        padding: 0px;
        color: white;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .Footer-resource-links {
        display: grid;
        align-items: center;
        gap: 7px;
    }

    .Footer-text_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 11px;

        img {
            height: 13px;
        }
    }

    .Suggest_restaurant {
        min-width: 190px;
        max-width: 190px;
    }

    .Partner {
        min-width: 190px;
        max-width: 190px;
    }

    .Legal {
        min-width: 130px;
        max-width: 130px;
    }

    .Contact {
        min-width: 130px;
        max-width: 130px;
    }
}

h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

p {
    margin: 0px;
}

section {
    &.Instructions {
        padding-top: 48px;
        padding-bottom: 68px;
    }

    &.Booking {
        padding-top: 39px;
        padding-bottom: 57px;
    }

    &.Restaurants {
        width: 90%;
        margin: auto;
        padding-top: 54px;
        padding-bottom: 66px;
    }
}

a {
    color: black;
    text-decoration: none;
}

.main-container {
    width: 100%;
}

.min-screenSize {
    min-width: 320px;
}

.max-screenSize {
    max-width: 1440px;
    margin: auto;
}



/******* Head *******/
.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-bg-color;

    img {
        height: 16px;
    }

    &-text {
        text-align: center;
        color: $quaternary-bg-color;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 17px;
    }
}

/******* Booking *******/
.Booking {
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        padding: 0px 0px 27px 0px;
        color: var(--Grey, $quaternary-bg-color);
        text-align: center;
    }

    h2 {
        margin: 0px;
        padding: 0px 0px 18px 0px;
        text-align: center;
    }

    .button {
        display: block;
        margin: auto;
        height: 50px;
        width: 218px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, $primary -11.44%, $secondary 123.93%));
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .button-text {
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        padding-top: 13px;
    }
}



/******* Instructions *******/
.Instructions {
    background-color: $tertiary-bg-color;

    &-container {
        width: 335px;
        margin: auto;
    }

    h2 {
        margin: 0px 0px 26px 0px;
    }

    &-cards {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .Number-Card-group {

        display: flex;
        align-items: center;

        .Number {
            min-height: 24px;
            max-height: 24px;
            min-width: 24px;
            max-width: 24px;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 14px;
            margin-right: -12px;
            z-index: 1;
        }

        .card {
            background-color: $primary-bg-color;
            display: flex;
            align-items: center;
            height: 72px;
            width: 322px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            &-text {
                padding-left: 23px;
                width: 211px;
            }

            img {
                padding-left: 35px;
            }

            .mobileIcon {
                height: 20px;
            }

            .listIcon {
                height: 16px;
            }

            .stallIcon {
                height: 18px;
            }
        }
    }
}



/******* Restaurants *******/
.Restaurants {

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        gap: 18px;
    }

    h2 {
        margin: 0px 0px 28px 0px;
    }

    .card {
        width: 100%;
        background-color: $tertiary-bg-color;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        position: relative;

        .Restaurants-picture {
            object-fit: cover;
            width: 100%;
            height: 231px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .Restaurants-location {
            padding: 0px 0px 12px 13px;
        }

        .Restaurants-name {
            padding: 16px 0px 5px 13px;
        }

        .new-button {
            min-width: 80px;
            max-width: 80px;
            min-height: 30px;
            max-height: 30px;
            padding: 0px;
            display: flex;
            position: absolute;
            top: 13px;
            right: 12px;
            border-radius: 2px;
            background: $tertiary;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            color: var(--Green-Font, #008766);
            text-align: center;
            font-size: 14px;
            align-items: center;
            justify-content: center;
        }
    }
}

.like-button {
    min-width: 22px;
    max-width: 22px;
    min-height: 21px;
    max-height: 21px;
}

/******* Menus *******/
.banner {
    object-fit: cover;
    width: 100%;
    min-height: 275px;
    max-height: 275px;
}

.Restaurant-tab {
    background-color: white;
}

.menu {
    display: grid;
    gap: 40px;
    margin-top: -20px;
    padding-bottom: 40px;
    background-color: $primary-bg-color;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    z-index: 1;

    .name-like-group {
        display: flex;
        margin: auto;
        padding-top: 34px;
        align-items: center;
        justify-content: space-between;
        min-width: 340px;
        max-width: 340px;
        min-height: 40px;
        max-height: 40px;
    }

    .Restaurants-name {
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
    }

    .course {
        display: grid;
        gap: 12px;

        &-option {
            margin: 0% 4%;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .underline {
            width: 40px;
            height: 3px;
            margin-top: -8px;
            margin-left: 4%;
            border: 0px;
            background-color:  $tertiary;
            
        }
    }

    .card {
        background-color: $tertiary-bg-color;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: end;
        justify-content: space-between;
        padding: 15px;
        height: 42px;
        width: 90%;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        .meal {
            display: grid;
            gap: 5px;
        }

        .primary-food {
            font-weight: 500;
        }

        .accompaniment {
            font-size: 15px;
            font-weight: 300;
        }
    }

}










@media screen and (min-width: 1024px) {
    section {
        &.Booking {
            padding: 30px 0px;
        }

        &.Restaurants {
            width: 75%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }


    .Restaurants .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 50px;
        column-gap: 100px;
    }


    .Instructions {
        &-cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
        }

        &-container {
            width: 1055px;
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 54px;
        max-height: 54px;
        gap: 16px;

        .Footer-resource-links {
            display: flex;
            flex-direction: row;
            justify-content: start;

        }

    }
}