header {
    background-color: $tertiary-bg-color;

    .logo-banner {

        display: flex;
        align-items: center;
        text-align: center;
        padding: 14px 17px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        .logo {
            margin: 0px;
            font-family: Shrikhand;
            font-size: 30px;
            font-weight: 400;

        }
    }

    .home-button {
        margin: auto;
    }
}