header {
    background-color: $tertiary-bg-color;

    .logo-banner {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 17px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .15);
        position: relative;

        .home-button {
            margin: auto;
        }

        .logo {
            margin: 0px;
            font-family: Shrikhand;
            font-size: 30px;
            font-weight: 400;

        }
    }
}