.navigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: inherit;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 38px;
    width: 38px;

    &:hover {
        background: $primary-bg-color;
    }

    img {
        width: 100%;
    }
}