.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 38px;
    width: 38px;

    &:hover{
        background: $primary-bg-color;
    }
}


.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    height: 38px;
    width: 38px;

    &:hover{
        background: $primary-bg-color;
    }

    img {
        width: 26px;
    }
    
}