/******* Menus Layout *******/
.banner {
    object-fit: cover;
    width: 100%;
    min-height: 275px;
    max-height: 275px;
}

.Restaurant-tab {
    background-color: white;

}

.max-menuSize {
    max-width: 1024px;
    margin: auto;
}

.menu {
    background: $primary-bg-color;
    display: grid;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    padding-bottom: 40px;
    gap: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    z-index: 1;

    .name-like-group {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        padding: 34px 5px 0 5px;
        min-width: 295px;
        min-height: 40px;
        gap: 15px;

    }

    .blank {
        background-color: $primary-bg-color;
    }

    .Restaurants-name {
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }

    .course {
        width: 90%;
        display: grid;
        margin: auto;
        gap: 12px;

        &-option {

            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .underline {
            width: 40px;
            height: 3px;
            margin-top: -20px;
            margin-left: 0;
            border: 0px;
            background-color: $tertiary;
        }
    }

    .card {
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .15);
        background-color: #fff;
        overflow: hidden;
        position: relative;

        .meal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 75%;
            max-width: 75%;
            padding: 15px 15px 10px 15px;
            gap: 5px;
        }

        @media screen and (min-width: 500px) {
            .meal {
                min-width: calc(100% - 110px);
                max-width: calc(100% - 110px);
            }
        }

    }

    .primary-food {
        font-weight: 500;
    }

    .food-accompaniment {
        display: flex;
        flex-direction: column;
        /*min-width: 90%;
        max-width: 90%;*/
        gap: 5px;
    }

    .accompaniment {
        font-weight: 300;
    }

    .price {
        display: flex;
        align-items: end;
        justify-content: center;
        font-weight: 300;
    }

    .select {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        min-width: calc(25% - 30px);
        max-width: calc(25% - 30px);
        min-height: 100%;
        max-height: 100%;
        border-radius: 0 20px 20px 0;
        background: $tertiary;
        cursor: pointer;

        &:focus {
            min-width: calc(25% - 31px);
            max-width: calc(25% - 31px);
            min-height: calc(100% - 2px);
            max-height: calc(100% - 2px);
            outline: 1px solid $font-color;
        }

        &:hover {
            background: $dark-tertiary;
        }

        &:active {
            background: $dark-tertiary;
        }

        .check {
            background: white;
            color: $tertiary;
            font-weight: 900;
            max-width: 20px;
            min-width: 20px;
            max-height: 20px;
            min-height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            pointer-events: none;
        }
    }

    @media screen and (min-width: 500px) {
        .select {
            min-width: 80px;
            max-width: 80px;

            &:focus {
                min-width: 79px;
                max-width: 79px;
            }
        }
    }

}

/******* Cart *******/
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background: $primary-bg-color;
    }

    img {
        width: 26px;
    }

    .iconCartSpan {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 45%;
        right: -5px;
        height: 20px;
        width: 20px;
        border-radius: inherit;
        background-color: red;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

}

.cart-tab {
    display: none;
    grid-template-rows: 70px 1fr 70px;
    width: 80%;
    background: $tertiary-bg-color;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    position: fixed;
    inset: 72px 0 0 auto;
    z-index: 99;

    .cartHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
        padding: 0 5px;
        border-bottom: 1px solid $cart-border;

        h2 {
            display: flex;
            align-items: center;
            height: 100%;
            font-family: Shrikhand;
            font-size: 30px;
            font-weight: 400;

        }

        .cart-Close {
            cursor: pointer;
            padding: 2px;
            height: 21px;
            width: 21px;
            border-radius: 50%;

            .bar1,
            .bar2 {
                width: 21px;
                height: 3px;
                background-color: black;
                margin: 3px 0;
            }

            .bar1 {
                transform: translate(0, 6px) rotate(-45deg);
            }

            .bar2 {
                transform: translate(0, 0px) rotate(45deg);
            }
        }
    }

    .cart-btn {
        display: flex;
        justify-content: center;
    }

    .cart-list {
        overflow: auto;

        .cart-item {
            display: grid;
            grid-template-columns: 1fr 70px 85px;
            align-items: center;
            margin: 5px 10px;
            padding: 10px 5px;
            gap: 5px;
            border-bottom: 1px solid $cart-border;

            .item-quant {
                display: flex;
                gap: 5px;
                cursor: pointer;

                .quant-minus:focus,
                .quant-plus:focus {
                    outline: 1px dashed $font-color;
                }

                span {
                    display: inline-flex;
                    background: $tertiary;
                    color: $tertiary-bg-color;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    background: inherit;
                    color: inherit;
                }

                span:nth-child(1):hover,
                span:nth-child(3):hover {
                    background: $dark-tertiary;
                }
            }
        }
    }

}

.showCart.cart-tab,
.cart.showCart {
    display: grid;
}

@media screen and (min-width: 500px) {
    .cart-tab {
        width: 400px;
    }
}

@media screen and (min-width: 1920px) {
    .cart-tab {
        inset: 72px calc((100% - 1920px) / 2) 0 auto;
    }
}


#cartNotification {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: calc(50% - 115px);
    z-index: 1000;
    width: 230px;
    gap: 10px;
}

.cartNotificationPopup {
    background-color: $dark-tertiary;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    text-align: center;
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}