/******* Menus Layout *******/
.banner {
    object-fit: cover;
    width: 100%;
    min-height: 275px;
    max-height: 275px;
}

.Restaurant-tab {
    background-color: white;

}

.max-menuSize {
    max-width: 1024px;
    margin: auto;
}

.menu {
    background: $primary-bg-color;
    display: grid;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    padding-bottom: 40px;
    gap: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    z-index: 1;

    .name-like-group {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        padding: 34px 5px 0 5px;
        min-width: 295px;
        min-height: 40px;
        gap: 15px;

    }

    .blank {
        background-color: $primary-bg-color;
    }

    .Restaurants-name {
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }

    .course {
        width: 90%;
        display: grid;
        margin: auto;
        gap: 12px;

        &-option {

            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .underline {
            width: 40px;
            height: 3px;
            margin-top: -20px;
            margin-left: 0;
            border: 0px;
            background-color: $tertiary;
        }
    }

    .card {
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .15);
        background-color: #fff;
        overflow: hidden;
        position: relative;

        .meal {
            display: flex;
            flex-direction: row;
            min-width: 75%;
            max-width: 75%;
            padding: 15px 15px 10px 15px;
        }

        @media screen and (min-width: 500px) {
            .meal {
                min-width: calc(100% - 110px);
                max-width: calc(100% - 110px);
            }
        }

    }

    .primary-food {
        font-weight: 500;
    }

    .food-accompaniment {
        display: flex;
        flex-direction: column;
        min-width: 90%;
        max-width: 90%;
        gap: 5px;
    }

    .accompaniment {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
    }

    .price {
        display: flex;
        align-items: end;
        justify-content: center;
        font-weight: 300;
        min-width: calc(10% - 5px);
        max-width: calc(10% - 5px);
        padding-left: 5px;
    }

    .select {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        min-width: calc(25% - 30px);
        max-width: calc(25% - 30px);
        min-height: 100%;
        max-height: 100%;
        background: $tertiary;
        cursor: pointer;

        /*&:hover .check {
            color: $dark-tertiary;
        }

        &:hover {
            background: $dark-tertiary;
        }*/

        &:active {
            background: $dark-tertiary;
        }

        .check {
            background: white;
            color: $tertiary;
            font-weight: 900;
            max-width: 20px;
            min-width: 20px;
            max-height: 20px;
            min-height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
    }

    @media screen and (min-width: 500px) {
        .select {
            min-width: 80px;
            max-width: 80px;
        }
    }

}

/******* Cart *******/
.cart-tab {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    width: 80%;
    background: $tertiary-bg-color;
    border-left: 1px solid #d9d9d9;
    position: fixed;
    inset: 0 -80% 0 auto;
    z-index: 100;
    transition: transform 300ms ease-in-out;

    h2 {
        display: flex;
        align-items: center;
        margin: 0 5px;
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        border-bottom: 1px solid $cart-border;

    }

    .cart-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;

        button {
            background: inherit;
            border: 0;
            border-top: 1px solid $cart-border;
            border-right: 1px solid $cart-border;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background: $primary-bg-color;
            }
        }
    }

    .cart-list {
        overflow: auto;

        .cart-item {
            display: grid;
            grid-template-columns: 1fr 70px 85px;
            align-items: center;
            margin: 5px 10px;
            border-bottom: 1px solid $cart-border;
            padding: 10px 0;

            .item-quant {
                display: flex;
                gap: 5px;
                cursor: pointer;

                span {
                    display: inline-flex;
                    background: $tertiary;
                    color: $tertiary-bg-color;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    background: inherit;
                    color: inherit;
                }

                span:nth-child(1):hover,
                span:nth-child(3):hover {
                    background: $dark-tertiary;
                }
            }
        }
    }

}

.showCart.cart-tab,
.cart.showCart {
    transform: translateX(-100%);
}

@media screen and (min-width: 500px) {
    .cart-tab {
        width: 400px;
        inset: 0 -400px 0 auto;
    }
}



/******* Course Fade-in *******/
.starters {
    animation: fade 1000ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.mains {
    animation: fade 1000ms;
    animation-delay: 333ms;
    animation-fill-mode: both;
}

.desserts {
    animation: fade 1000ms;
    animation-delay: 666ms;
    animation-fill-mode: both;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    23.333% {
        opacity: 50%;
    }

    33.333% {
        opacity: 100%;

    }
}